* {
    padding: 0;
    margin: 0;
}
header{
    background-color: aqua;
    height: 10vh;
    width: 100vw;
}
h1{
    padding-top: 10px;
    color: rgb(224, 131, 8);
    text-align: center;
}
ul{
    text-align: center;
}
ul > li {
    color: red;
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    margin-left: 59px;
}
main{
    height: 320vh;
    background-color: aliceblue;
}
footer{
    text-align: center;
    
    height: 200vh;
    background-color: blueviolet;

}
p{
    text-align: center;
    font-size: 500px;
    padding: 23px;
}
footer > p{

    color: black;
    padding-top: 50px;

}
img{
    position: absolute;
    height: 60vh;
}
